language: cpp
compiler:
  - gcc
  - clang
env:
  - PROJECT=NAMICExternalProjects cmake_package=cmake-2.8.12.2
install:
  - sudo apt-get update -qq &>/dev/null
  - sudo apt-get install -qq phonon-backend-gstreamer &> /dev/null
  - sudo apt-get install -qq qt-sdk &> /dev/null
  - cd $TRAVIS_BUILD_DIR/..
  - wget http://www.cmake.org/files/v2.8/$cmake_package.tar.gz -v -O $cmake_package.tar.gz
  - tar -xzf $cmake_package.tar.gz
  - cd $cmake_package
  - cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_USE_OPENSSL:BOOL=ON &> /dev/null
  - sudo make -j2 install &> /dev/null
before_script:
  - cd $TRAVIS_BUILD_DIR/..
# Change this to your needs
script:
  - mkdir ${PROJECT}-build && cd ${PROJECT}-build
  - cmake >
       -DBUILD_ABC:BOOL=ON
       -DBUILD_ANTs:BOOL=ON
       -DBUILD_AtlasWerks:BOOL=ON
       -DBUILD_BRAINSTools:BOOL=ON
       -DBUILD_DTIAtlasBuilder:BOOL=ON
       -DBUILD_DTIPrep:BOOL=ON
       -DBUILD_DTIProcess:BOOL=ON
       -DBUILD_DTIReg:BOOL=ON
       -DBUILD_DTI_Tract_Stat:BOOL=ON
       -DBUILD_FiberViewerLight:BOOL=ON
       -DBUILD_ITKTransformTools:BOOL=ON
       -DBUILD_MriWatcher:BOOL=ON
       -DBUILD_ResampleDTIlogEuclidean:BOOL=ON
       -DBUILD_SPHARM-PDM:BOOL=ON
       -DBUILD_ShapePopulationViewer:BOOL=ON
       -DBUILD_SlicerCLI:BOOL=ON
       -DBUILD_SlicerJointRicianAnisotropicLMMSEFilter:BOOL=ON
       -DBUILD_UKF:BOOL=ON
       -DBUILD_UnbiasedNonLocalMeans:BOOL=ON
       -DBUILD_niral_utilities:BOOL=ON
       -DBUILD_python:BOOL=ON
       -DCMAKE_BUILD_TYPE:STRING=Release
       -DDO_NOT_SET_ITK_STANDARD_COMPILER_FLAGS:BOOL=ON
       $TRAVIS_BUILD_DIR &> /dev/null
  - make -j2
